body{
    background-color: #121212;
    color:#eeeeee
}

#wrapper{
    max-width: 500px;
}

.flex-y{
    margin: 10px;
    display: flex;
    flex-flow: column;
}

button{width:calc(50% - 10px);
    height: 40px;}

    textarea{
        height: 100PX;
    }